header {
  z-index: 2;
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: var(--primary);
}

header .logo {
  grid-area: logo;
  height: 27px;
  padding: 12px 65px 11px 80px;
}

.about-me-content {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "cover" "wrapper" "contact" "footer";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 580px auto auto auto;
      grid-template-rows: 580px auto auto auto;
}

#cover {
  z-index: 0;
  background-color: var(--secondary);
  display: -ms-grid;
  display: grid;
      grid-template-areas: "covcolleft covcolright";
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  margin-top: 50px;
}

#cover .cover-col-left {
  z-index: 1;
  position: relative;
  padding: 90px 0 100px 80px;
}

#cover .cover-col-left .about-me-title {
  font-family: "jubbew-semibold";
  font-size: 170px;
  color: var(--light);
  margin: 20px 0 50px -5px;
}

#cover .cover-col-left .about-me-subtitle {
  font-family: "Montserrat", sans-serif;
  color: var(--light);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 5px;
}

#cover .cover-col-left .text-cascade-1 {
  margin-left: 60px;
}

#cover .cover-col-left .text-cascade-3 {
  margin-left: 90px;
}

#cover .cover-col-right {
  z-index: 0;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: covcolright;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  z-index: 1;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "meta" "description" "links";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
}

.wrapper p {
  text-align: center;
}

.wrapper .description {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: description;
  background-color: var(--light);
  padding: 100px 80px 20px 80px;
  text-align: center;
}

.wrapper .description p {
  color: var(--light-blue);
  text-align: left;
}

.wrapper .description .buttons {
  margin-top: 60px;
  text-align: center;
}

.wrapper .description .buttons button {
  margin: 10px;
}

.wrapper .description button {
  background: var(--primary);
  border: none;
  color: var(--light);
}

.wrapper .description button:hover {
  background: var(--secondary);
  cursor: pointer;
}

.wrapper .description .who-i-am {
  width: 60%;
  margin: 80px auto 150px auto;
  text-align: justify;
}

.wrapper .description .skills {
  width: 60%;
  margin: 80px auto 150px auto;
}

.wrapper .description .skills ul {
  padding: 0;
}

.wrapper .description .skills ul li {
  position: relative;
  list-style: none;
  margin: 50px auto;
  text-align: left;
  color: var(--primary);
}

.wrapper .description .skills ul li:before {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  height: 15px;
  background-color: rgba(0, 36, 69, 0.5);
  border-radius: 50px;
}

.wrapper .description .skills ul li:after {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 0;
  height: 15px;
  background: -webkit-gradient(linear, left top, right top, from(var(--light-blue)), to(var(--primary)));
  background: linear-gradient(to right, var(--light-blue), var(--primary));
  border-radius: 50px;
  -webkit-animation-duration: 4.7s;
          animation-duration: 4.7s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.wrapper .description .skills ul li.illustrator:after {
  -webkit-animation-name: illustrator;
          animation-name: illustrator;
}

@-webkit-keyframes illustrator {
  to {
    width: 90%;
  }
}

@keyframes illustrator {
  to {
    width: 90%;
  }
}

.wrapper .description .skills ul li.photoshop:after {
  -webkit-animation-name: photoshop;
          animation-name: photoshop;
}

@-webkit-keyframes photoshop {
  to {
    width: 85%;
  }
}

@keyframes photoshop {
  to {
    width: 85%;
  }
}

.wrapper .description .skills ul li.indesign:after {
  -webkit-animation-name: indesign;
          animation-name: indesign;
}

@-webkit-keyframes indesign {
  to {
    width: 80%;
  }
}

@keyframes indesign {
  to {
    width: 80%;
  }
}

.wrapper .description .skills ul li.premiere-pro:after {
  -webkit-animation-name: premierepro;
          animation-name: premierepro;
}

@-webkit-keyframes premierepro {
  to {
    width: 75%;
  }
}

@keyframes premierepro {
  to {
    width: 75%;
  }
}

.wrapper .description .skills ul li.lightroom:after {
  -webkit-animation-name: lightroom;
          animation-name: lightroom;
}

@-webkit-keyframes lightroom {
  to {
    width: 60%;
  }
}

@keyframes lightroom {
  to {
    width: 60%;
  }
}

.wrapper .description .skills ul li.html-css:after {
  -webkit-animation-name: htmlcss;
          animation-name: htmlcss;
}

@-webkit-keyframes htmlcss {
  to {
    width: 85%;
  }
}

@keyframes htmlcss {
  to {
    width: 85%;
  }
}

.wrapper .description .skills ul li.javascript:after {
  -webkit-animation-name: javascript;
          animation-name: javascript;
}

@-webkit-keyframes javascript {
  to {
    width: 40%;
  }
}

@keyframes javascript {
  to {
    width: 40%;
  }
}

.wrapper .description .skills ul li.ux-ui-design:after {
  -webkit-animation-name: uxuidesign;
          animation-name: uxuidesign;
}

@-webkit-keyframes uxuidesign {
  to {
    width: 85%;
  }
}

@keyframes uxuidesign {
  to {
    width: 85%;
  }
}

.wrapper .description .exhibitions {
  width: 60%;
  margin: 80px auto 150px auto;
  text-align: justify;
}
/*# sourceMappingURL=about-me.css.map */