@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@font-face {
  font-family: "jubbew-light";
  src: url("../typo/jubbew-light-webfont.woff2") format("woff2"), url("../typo/jubbew-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "jubbew-regular";
  src: url("../typo/jubbew-regular-webfont.woff2") format("woff2"), url("../typo/jubbew-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "jubbew-medium";
  src: url("../typo/jubbew-medium-webfont.woff2") format("woff2"), url("../typo/jubbew-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "jubbew-semibold";
  src: url("../typo/jubbew-semibold-webfont.woff2") format("woff2"), url("../typo/jubbew-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "jubbew-bold";
  src: url("../typo/jubbew-bold-webfont.woff2") format("woff2"), url("../typo/jubbew-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.fs-jubbew-light {
  font-family: "jubbew-light";
}

.fs-jubbew-regular {
  font-family: "jubbew-regular";
}

.fs-jubbew-medium {
  font-family: "jubbew-medium";
}

.fs-jubbew-semibold {
  font-family: "jubbew-semibold";
}

.fs-jubbew-bold {
  font-family: "jubbew-bold";
}

:root {
  --primary: #121b35;
  --light-blue: #002445;
  --secondary: #e9a050;
  --light: #f3f3f3;
}

html {
  background: var(--secondary);
}

html body {
  font-family: "Montserrat", serif;
  color: var(--light);
  margin: 0;
  overflow-x: hidden;
}

html body a {
  text-decoration: none;
}

html body h1 {
  font-family: "jubbew-semibold";
  font-size: 4em;
}

html body h2 {
  font-family: "jubbew-bold";
  color: var(--light-blue);
  font-size: 3em;
  letter-spacing: 0.1em;
}

html body p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  text-align: left;
  line-height: 1.7em;
}

html body #buttons {
  padding: 0;
}

html body button {
  width: 18em;
  height: 3em;
  background: none;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  border: 0.15em solid var(--light);
  color: var(--light);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin-top: 2.1em;
}

html body button:hover {
  font-weight: 500;
  border: none;
  cursor: pointer;
}

#content {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "home" "aboutme" "works" "contact" "footer";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 100vh auto auto auto auto;
      grid-template-rows: 100vh auto auto auto auto;
}

#home {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: home;
}

.hello {
  padding: 4em;
}

.hello h1 {
  color: var(--secondary);
  margin: 3.5em 0 0 3em;
  line-height: 1.3em;
}

.hello h1 em {
  font-family: "jubbew-bold", sans-serif;
  font-style: normal;
  font-size: 3.5em;
  margin: 0 0 0 -0.03em;
}

.hello span {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  color: var(--light);
  font-size: 1.8em;
  margin: 0 0 0 10em;
}

.hello .scrolldown .scroll-line {
  width: 2px;
  background: var(--light);
  position: absolute;
  height: 70px;
  left: 50px;
  bottom: 0;
}

.hello .scrolldown p {
  margin: 0;
  line-height: 0;
  position: absolute;
  font-size: 0.9em;
  bottom: 90px;
  left: 51px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

#about-me {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: aboutme;
  position: relative;
  background-color: var(--light);
  display: -ms-grid;
  display: grid;
      grid-template-areas: "colleft colright";
  -ms-grid-columns: 54% 46%;
      grid-template-columns: 54% 46%;
}

#about-me .aboutme-col-left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: colleft;
  position: relative;
}

#about-me .aboutme-col-left img {
  width: 80%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
}

#about-me .aboutme-col-right {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: colright;
  margin-top: 4em;
}

#about-me .aboutme-col-right h2 {
  color: var(--primary);
  margin: 0;
  font-size: 10em;
}

#about-me .aboutme-col-right .presentation {
  margin: 6em 0 7em 0;
}

#about-me .aboutme-col-right .presentation p {
  color: var(--primary);
  font-size: 1.4em;
}

#about-me .aboutme-col-right .presentation button {
  width: 13em;
  background: var(--primary);
  font-size: 0.8rem;
  color: var(--light);
  margin-top: 2em;
  border-radius: 50px;
}

#about-me .aboutme-col-right .presentation button:hover {
  background-color: var(--secondary);
  color: var(--light);
}

.works {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: works;
  position: relative;
  background-color: var(--secondary);
  width: 100%;
}

.works .row {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.works .row .col {
  position: relative;
}

.works .row .col-left {
  position: relative;
  padding: 4em 4em 3em 4em;
}

.works .row .col-left h2 {
  color: var(--light);
  margin: 0;
  font-size: 10em;
}

.works .row .col-left p {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 100;
  color: var(--light);
  line-height: 1.2em;
  margin: 0;
  padding: 0.2em 0;
}

.works .row .col-left a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--light);
  text-decoration: none;
  line-height: 1.8em;
  padding: 6px 8px;
  background-size: 200% auto;
  background-position: 0 0;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(50%, var(--primary)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, var(--primary) 50%);
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.works .row .col-left a span {
  opacity: 0;
  font-weight: 200;
  text-transform: lowercase;
}

.works .row .col-left a:hover {
  background-position: -100% 0;
  padding: 6px 8px;
  color: var(--light);
}

.works .row .col-left a:hover span {
  opacity: 1;
  -webkit-transition: opacity 1.2s ease-in-out;
  -moz-transition: opacity 1.2s ease-in-out;
  -o-transition: opacity 1.2s ease-in-out;
  -ms-transition: opacity 1.2s ease-in-out;
}

.works .row .col-left a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

.works .row .col-left a:hover:before {
  opacity: 1;
}

.works .row .col-left .link11:hover:before {
  z-index: 2;
  background-image: url(../resources/previsualisation/jr_automobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
}

.works .row .col-left .link10:hover:before {
  z-index: 2;
  background-image: url(../resources/previsualisation/jubbew.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
}

.works .row .col-left .link9:hover:before {
  z-index: 2;
  background-image: url(../resources/previsualisation/codestrata.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
}

.works .row .col-left .link8:hover:before {
  z-index: 2;
  background-image: url(../resources/previsualisation/modulations.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
}

.works .row .col-left .link7:hover:before {
  z-index: 2;
  background-image: url(../resources/previsualisation/talkingspeakers.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
}

.works .row .col-left .link6:hover:before {
  z-index: 2;
  background-image: url(../resources/previsualisation/ondes_sonores.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
}

.works .row .col-left .link5:hover:before {
  z-index: 2;
  background-image: url(../resources/previsualisation/untitled.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
}

.works .row .col-left .link3:hover:before {
  z-index: 2;
  background-image: url(../resources/previsualisation/structures.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
}

.works .row .col-left .link2:hover:before {
  z-index: 2;
  background-image: url(../resources/previsualisation/panthera_tigris.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
}

.works .row .col-left .link1:hover:before {
  z-index: 2;
  background-image: url(../resources/previsualisation/animaux.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
}

.works .row .col-left span {
  padding: 0 8px;
}

.works .row .col-right {
  z-index: 1;
  background-image: url(../resources/previsualisation/previsualisation.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#contact {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: contact;
  background-color: var(--light-blue);
  padding: 5em 10em 5.5em 10em;
}

#contact h2 {
  font-family: "jubbew-semibold";
  color: var(--light);
  text-align: center;
}

#contact p {
  text-align: center;
}

#contact button:hover {
  background-color: var(--light);
  color: var(--light-blue);
}

#footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: var(--primary);
  padding: 2em 10em;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "right-footer left-footer";
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

#footer p {
  font-size: 0.7em;
  text-transform: uppercase;
}

#footer #right-footer {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: right-footer;
  padding: 0 3em 0 0;
  border-right: 1px solid var(--light);
  margin: 1fr 0 0.6em 0;
  position: relative;
}

#footer #right-footer p {
  position: absolute;
  bottom: 0;
  line-height: 1.9em;
}

#footer #left-footer {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: left-footer;
  padding: 0 0 0 3em;
}

#footer #left-footer ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

#footer #left-footer li {
  cursor: pointer;
}

#footer #left-footer #linkedin {
  margin: 0 0.7em;
}

#footer #left-footer svg {
  width: 3em;
  stroke: var(--light);
  stroke-width: 1em;
  fill: var(--primary);
}

#footer #left-footer svg:hover {
  fill: var(--light);
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}
/*# sourceMappingURL=main.css.map */