@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@font-face {
  font-family: "jubbew-light";
  src: url("../medias/typo/jubbew-light-webfont.woff2") format("woff2"), url("../medias/typo/jubbew-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "jubbew-regular";
  src: url("../medias/typo/jubbew-regular-webfont.woff2") format("woff2"), url("../medias/typo/jubbew-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "jubbew-medium";
  src: url("../medias/typo/jubbew-medium-webfont.woff2") format("woff2"), url("../medias/typo/jubbew-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "jubbew-semibold";
  src: url("../medias/typo/jubbew-semibold-webfont.woff2") format("woff2"), url("../medias/typo/jubbew-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "jubbew-bold";
  src: url("../medias/typo/jubbew-bold-webfont.woff2") format("woff2"), url("../medias/typo/jubbew-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.fs-jubbew-light {
  font-family: "jubbew-light";
}

.fs-jubbew-regular {
  font-family: "jubbew-regular";
}

.fs-jubbew-medium {
  font-family: "jubbew-medium";
}

.fs-jubbew-semibold {
  font-family: "jubbew-semibold";
}

.fs-jubbew-bold {
  font-family: "jubbew-bold";
}

:root {
  --primary: #121b35;
  --light-blue: #002445;
  --secondary: #e2a966;
  --light: #f3f3f3;
}

html {
  background: var(--secondary);
}

html body {
  font-family: "Montserrat", serif;
  color: var(--light);
  margin: 0;
  overflow-x: hidden;
}

html body a {
  text-decoration: none;
}

html body h1 {
  font-family: "jubbew-semibold";
  font-size: 70px;
}

html body h2 {
  font-family: "jubbew-semibold";
  margin: 0;
  font-size: 170px;
}

html body h3 {
  font-family: "jubbew-semibold";
  font-size: 80px;
  color: var(--primary);
  margin: 0 0 50px 0;
  text-align: left;
}

html body h4 {
  font-family: "jubbew-semibold";
  font-size: 35px;
  color: var(--primary);
  margin: 60px 0 0 0;
  text-align: left;
}

html body .title-number {
  font-family: "jubbew-medium";
  font-size: 50px;
  color: var(--light-blue);
  font-style: normal;
}

html body .home-titles {
  letter-spacing: 7px;
}

html body p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  line-height: 37px;
}

html body .artwork-name {
  font-style: italic;
}

html body .italic {
  font-style: italic;
  font-weight: 400;
}

html body #buttons {
  padding: 0;
}

html body button {
  width: 270px;
  height: 50px;
  background: none;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  border: 1px solid var(--light);
  color: var(--light);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
  margin-top: 10px;
}

html body button:hover {
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.content-home {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "cover" "aboutme" "works" "contact" "footer";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 100vh auto auto auto auto;
      grid-template-rows: 100vh auto auto auto auto;
}

#cover {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: cover;
}

.cover-home {
  padding: 40px;
}

.cover-home h1 {
  color: var(--secondary);
  margin: 230px 0 0 200px;
  line-height: 80px;
}

.cover-home h1 em {
  font-family: "jubbew-bold", sans-serif;
  font-style: normal;
  font-size: 230px;
  margin: 0 0 0 -7px;
}

.cover-home span {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  color: var(--light);
  font-size: 30px;
  margin: -20px 0 0 300px;
}

.scrolldown .scroll-line {
  width: 2px;
  background: var(--light);
  position: absolute;
  height: 70px;
  left: 50px;
  bottom: 0;
}

.scrolldown p {
  margin: 0;
  line-height: 0;
  position: absolute;
  font-size: 12px;
  bottom: 90px;
  left: 51px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  text-transform: uppercase;
  letter-spacing: 4px;
}

.about-me {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: aboutme;
  position: relative;
  background-color: var(--light);
  display: -ms-grid;
  display: grid;
      grid-template-areas: "colleft colright";
  -ms-grid-columns: 54% 46%;
      grid-template-columns: 54% 46%;
}

.about-me .aboutme-col-left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: colleft;
  position: relative;
}

.about-me .aboutme-col-left img {
  width: 75%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
}

.about-me .aboutme-col-right {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: colright;
  margin-top: 90px;
}

.about-me .aboutme-col-right h2 {
  color: var(--primary);
}

.about-me .aboutme-col-right .aboutme-presentation {
  margin: 50px 0 110px 0;
}

.about-me .aboutme-col-right .aboutme-presentation p {
  color: var(--primary);
}

.about-me .aboutme-col-right .aboutme-presentation button {
  width: 240px;
  background: var(--primary);
  color: var(--light);
  margin-top: 20px;
  border-radius: 50px;
}

.about-me .aboutme-col-right .aboutme-presentation button:hover {
  background-color: var(--secondary);
  color: var(--light);
}

.works {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: works;
  position: relative;
  background-color: var(--secondary);
  width: 100%;
}

.works .row {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.works .row .works-col-left {
  position: relative;
  padding: 90px 20px 70px 90px;
}

.works .row .works-col-left h2 {
  color: var(--light);
}

.works .row .works-col-left #works-list {
  margin-top: 15px;
}

.works .row .works-col-left p {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 100;
  color: var(--light);
  line-height: 37px;
  margin: 0;
}

.works .row .works-col-left a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--light);
  text-decoration: none;
  padding: 6px 8px;
  background-size: 200% auto;
  background-position: 0 0;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(50%, var(--primary)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, var(--primary) 50%);
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.works .row .works-col-left a span {
  opacity: 0;
  font-weight: 200;
  text-transform: lowercase;
}

.works .row .works-col-left a:hover {
  background-position: -100% 0;
  padding: 6px 8px;
  color: var(--light);
}

.works .row .works-col-left a:hover span {
  opacity: 1;
  -webkit-transition: opacity 1.2s ease-in-out;
  -moz-transition: opacity 1.2s ease-in-out;
  -o-transition: opacity 1.2s ease-in-out;
  -ms-transition: opacity 1.2s ease-in-out;
}

.works .row .works-col-left a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

.works .row .works-col-left a:hover:before {
  opacity: 1;
}

.works .row .works-col-left .works-link10:hover:before {
  z-index: 2;
  background-image: url(../medias/previsualisation/jr_automobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
}

.works .row .works-col-left .works-link9:hover:before {
  z-index: 2;
  background-image: url(../medias/previsualisation/jubbew.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
}

.works .row .works-col-left .works-link8:hover:before {
  z-index: 2;
  background-image: url(../medias/previsualisation/codestrata.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
}

.works .row .works-col-left .works-link7:hover:before {
  z-index: 2;
  background-image: url(../medias/previsualisation/modulations.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
}

.works .row .works-col-left .works-link6:hover:before {
  z-index: 2;
  background-image: url(../medias/previsualisation/talkingspeakers.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
}

.works .row .works-col-left .works-link5:hover:before {
  z-index: 2;
  background-image: url(../medias/previsualisation/ondes_sonores.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
}

.works .row .works-col-left .works-link4:hover:before {
  z-index: 2;
  background-image: url(../medias/previsualisation/structures.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
}

.works .row .works-col-left .works-link3:hover:before {
  z-index: 2;
  background-image: url(../medias/previsualisation/untitled.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
}

.works .row .works-col-left .works-link2:hover:before {
  z-index: 2;
  background-image: url(../medias/previsualisation/panthera_tigris.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
}

.works .row .works-col-left .works-link1:hover:before {
  z-index: 2;
  background-image: url(../medias/previsualisation/animaux.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
}

.works .row .works-col-left span {
  padding: 0 8px;
}

.works .row .works-col-right {
  z-index: 1;
  background-image: url(../medias/previsualisation/previsualisation.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.contact {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: contact;
  background-color: var(--light-blue);
  padding: 80px 0;
}

.contact h2 {
  color: var(--light);
  text-align: center;
  font-size: 55px;
  margin-bottom: 40px;
}

.contact p {
  text-align: center;
}

.contact button:hover {
  background-color: var(--light);
  color: var(--light-blue);
}

.footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: var(--primary);
  padding: 20px 100px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "right-footer left-footer";
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.footer p {
  font-size: 11px;
  text-transform: uppercase;
}

.footer .right-footer {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: right-footer;
  border-right: 1px solid var(--light);
  position: relative;
}

.footer .right-footer p {
  position: absolute;
  bottom: 0;
  line-height: 20px;
}

.footer .left-footer {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: left-footer;
  padding-left: 30px;
}

.footer .left-footer ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.footer .left-footer ul a:link,
.footer .left-footer ul a:visited {
  color: var(--light);
}

.footer .left-footer li {
  cursor: pointer;
}

.footer .left-footer .socicon {
  font-family: "Socicon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footer .left-footer .socicon-instagram,
.footer .left-footer .socicon-linkedin,
.footer .left-footer .socicon-github {
  padding: 10px 10px 10px 10px;
  width: 25px;
  height: 25px;
  font-size: 23px;
  border: 1px solid #fff;
  border-radius: 50%;
  font-weight: 300;
}

.footer .left-footer .socicon-instagram {
  padding-top: 11px;
  padding-left: 12px;
}

.footer .left-footer .socicon-linkedin {
  padding-left: 12px;
  margin: 0px 10px;
}

.footer .left-footer .socicon-github {
  padding-top: 11px;
}

.footer .left-footer .socicon:hover {
  color: #121b35;
  background-color: #f3f3f3;
}

.footer .left-footer svg:hover {
  fill: var(--light);
}
/*# sourceMappingURL=main.css.map */