// TABLE OF CONTENTS :
//
// 1. Typographies
// 2. Colors
// 3. General
// 4. Cover
// 5. About me
// 6. Works
// 7. Contact
// 8. Footer

//////// TYPOGRAPHIES ////////

@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");

@font-face {
  font-family: "jubbew-light";
  src: url("../medias/typo/jubbew-light-webfont.woff2") format("woff2"),
    url("../medias/typo/jubbew-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "jubbew-regular";
  src: url("../medias/typo/jubbew-regular-webfont.woff2") format("woff2"),
    url("../medias/typo/jubbew-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "jubbew-medium";
  src: url("../medias/typo/jubbew-medium-webfont.woff2") format("woff2"),
    url("../medias/typo/jubbew-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "jubbew-semibold";
  src: url("../medias/typo/jubbew-semibold-webfont.woff2") format("woff2"),
    url("../medias/typo/jubbew-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "jubbew-bold";
  src: url("../medias/typo/jubbew-bold-webfont.woff2") format("woff2"),
    url("../medias/typo/jubbew-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.fs-jubbew-light {
  font-family: "jubbew-light";
}

.fs-jubbew-regular {
  font-family: "jubbew-regular";
}

.fs-jubbew-medium {
  font-family: "jubbew-medium";
}

.fs-jubbew-semibold {
  font-family: "jubbew-semibold";
}

.fs-jubbew-bold {
  font-family: "jubbew-bold";
}

/////////// COLORS ///////////

:root {
  --primary: #121b35;
  // --light-blue: #002445;
  --light-blue: #0a2c51;
  --secondary: #e2a966;
  --light: #f3f3f3;
}

/////////// GENERAL //////////

html {
  background: var(--secondary);

  body {
    font-family: "Montserrat", serif;
    color: var(--light);
    margin: 0;
    overflow-x: hidden;

    header {
      z-index: 3;
      position: fixed;
      top: 0;
      height: 50px;
      width: 100%;
      background-color: var(--primary);

      .logo {
        grid-area: logo;
        height: 27px;
        padding: 12px 65px 11px 80px;
      }
    }

    a {
      text-decoration: none;
    }

    h1 {
      font-family: "jubbew-semibold";
      font-size: 4rem;
    }

    @media all and (max-width: 970px) {
      h1 {
        font-size: 3.1rem;
      }
    }

    h2 {
      font-family: "jubbew-semibold";
      margin: 0;
      font-size: 10rem;
    }

    @media all and (max-width: 1200px) {
      h2 {
        font-size: 9rem;
      }
    }

    @media all and (max-width: 1100px) {
      h2 {
        font-size: 8rem;
      }
    }

    @media all and (max-width: 600px) {
      h2 {
        font-size: 6rem;
      }
    }

    h3 {
      font-family: "jubbew-semibold";
      font-size: 80px;
      color: var(--primary);
      margin: 0 0 50px 0;
      text-align: left;
    }

    h4 {
      font-family: "jubbew-semibold";
      font-size: 35px;
      color: var(--primary);
      margin: 60px 0 0 0;
      text-align: left;
    }

    .title-number {
      font-family: "jubbew-medium";
      font-size: 50px;
      color: var(--primary);
      font-style: normal;
    }

    .home-titles {
      letter-spacing: 7px;
    }

    p {
      font-family: "Montserrat", sans-serif;
      font-size: 1.2rem;
      font-weight: 300;
      text-align: left;
      line-height: 1.8rem;
    }

    .artwork-name {
      font-style: italic;
    }

    .italic {
      font-style: italic;
      font-weight: 400;
    }

    #buttons {
      padding: 0;
    }

    button {
      width: 270px;
      height: 50px;
      background: none;
      font-family: "Montserrat", sans-serif;
      font-size: 0.9rem;
      border: 1px solid var(--light);
      color: var(--light);
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 3px;
      margin-top: 10px;
    }

    button:hover {
      font-weight: 500;
      border: none;
      cursor: pointer;
    }
  }
}

.content-home {
  display: grid;
  grid-template-areas:
    "cover"
    "aboutme"
    "works"
    "window"
    "contact"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 100vh auto auto auto auto;
}

@media all and (max-width: 690px) {
  .content-home {
    grid-template-rows: auto auto auto auto auto;
  }
}

//////////// COVER ////////////

#cover {
  grid-area: cover;

  @media all and (max-width: 690px) {
    .scrolldown {
      display: none;
    }
  }
}

.cover-home {
  padding: 20% 4rem 4rem 16%;

  img {
    display: none;
  }

  h1 {
    color: var(--secondary);
    margin: 0;
    line-height: 4.7rem;

    em {
      font-family: "jubbew-bold", sans-serif;
      font-style: normal;
      font-size: 14rem;
      margin: 0 0 0 -0.4rem;
    }

    @media all and (max-width: 970px) {
      em {
        font-size: 11rem;
      }
    }
  }

  @media all and (max-width: 970px) {
    h1 {
      line-height: 3.8rem;
    }
  }

  span {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    color: var(--light);
    font-size: 1.8rem;
    margin: -4rem 0 0 10%;
  }

  @media all and (max-width: 970px) {
    span {
      font-size: 1.4rem;
    }
  }
}

@media all and (max-width: 690px) {
  .cover-home {
    padding: 20% 0;

    h1 {
      display: none;
    }

    .subtitle {
      display: none;
    }

    img {
      display: block;
      width: 50%;
      margin: auto;
    }
  }
}

.scrolldown {
  .scroll-line {
    width: 2px;
    background: var(--light);
    position: absolute;
    height: 70px;
    left: 50px;
    bottom: 0;
  }

  p {
    margin: 0;
    line-height: 0;
    position: absolute;
    font-size: 0.8rem;
    bottom: 90px;
    left: 51px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-transform: uppercase;
    letter-spacing: 0.3rem;
  }
}

////////// ABOUT ME //////////

.about-me {
  grid-area: aboutme;
  position: relative;
  background-color: var(--light);
  display: grid;
  grid-template-areas: "colleft colright";
  grid-template-columns: 54% 46%;

  .aboutme-col-left {
    grid-area: colleft;
    position: relative;

    img {
      width: 70%;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  .aboutme-col-right {
    grid-area: colright;
    margin-top: 90px;

    h2 {
      color: var(--primary);
    }

    .aboutme-sentence {
      margin: 50px 0 110px 0;

      p {
        color: var(--primary);
      }

      button {
        width: 240px;
        background: var(--primary);
        color: var(--light);
        margin-top: 20px;
        border-radius: 50px;
      }

      button:hover {
        background-color: var(--secondary);
        color: var(--light);
      }
    }
  }
}

@media all and (max-width: 970px) {
  .about-me {
    grid-template-areas:
      "colright"
      "colleft";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

    .aboutme-col-left {
      text-align: center;

      img {
        position: static;
        width: 60%;
        margin: 0 auto -10px auto;
      }
    }

    .aboutme-col-right {
      text-align: center;

      .aboutme-sentence {
        margin-bottom: 8%;

        p {
          text-align: center;
        }
      }
    }
  }
}

////////// WORKS //////////

.works {
  grid-area: works;
  position: relative;
  background-color: var(--secondary);
  width: 100%;

  .row {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;

    .works-col-left {
      position: relative;
      padding: 90px 20px 90px 80px;

      h2 {
        color: var(--light);
      }

      .works-list {
        margin-top: 1.6rem;
        margin-bottom: 1.4rem;
      }

      @media all and (max-width: 970px) {
        .works-list {
          display: none;
        }
      }

      p {
        font-family: "Montserrat", sans-serif;
        font-size: 1.1rem;
        font-weight: 100;
        color: var(--light);
        line-height: 2.2rem;
        margin: 0;
      }

      @media all and (max-width: 1100px) {
        p {
          font-size: 1rem;
          line-height: 2.1rem;
        }
      }

      .highlighter {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        color: var(--light);
        text-decoration: none;
        padding: 6px 8px;
        background-size: 200% auto;
        background-position: 0 0;
        background-image: linear-gradient(
          to right,
          rgba(255, 255, 255, 0) 50%,
          var(--primary) 50%
        );
        transition: all 500ms ease-out;

        span {
          opacity: 0;
          font-weight: 200;
          text-transform: lowercase;
        }

        @media all and (max-width: 1370px) {
          span {
            display: none;
          }
        }
      }

      .highlighter:hover {
        background-position: -100% 0;
        padding: 6px 8px;
        color: var(--light);

        span {
          opacity: 1;
          -webkit-transition: opacity 1.2s ease-in-out;
          -moz-transition: opacity 1.2s ease-in-out;
          -o-transition: opacity 1.2s ease-in-out;
          -ms-transition: opacity 1.2s ease-in-out;
        }
      }

      .highlighter:before {
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
      }

      .highlighter:hover:before {
        opacity: 1;
      }

      .works-link10:hover:before {
        z-index: 2;
        background-image: url(../medias/previsualisations/home/jr_automobile.png);
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-transition: opacity 0.2s ease-in-out;
        -moz-transition: opacity 0.2s ease-in-out;
        -o-transition: opacity 0.2s ease-in-out;
        -ms-transition: opacity 0.2s ease-in-out;
      }

      .works-link9:hover:before {
        z-index: 2;
        background-image: url(../medias/previsualisations/home/jubbew.png);
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-transition: opacity 0.2s ease-in-out;
        -moz-transition: opacity 0.2s ease-in-out;
        -o-transition: opacity 0.2s ease-in-out;
        -ms-transition: opacity 0.2s ease-in-out;
      }

      .works-link8:hover:before {
        z-index: 2;
        background-image: url(../medias/previsualisations/home/codestrata.png);
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-transition: opacity 0.2s ease-in-out;
        -moz-transition: opacity 0.2s ease-in-out;
        -o-transition: opacity 0.2s ease-in-out;
        -ms-transition: opacity 0.2s ease-in-out;
      }

      .works-link7:hover:before {
        z-index: 2;
        background-image: url(../medias/previsualisations/home/modulations.png);
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -o-transition: opacity 0.5s ease-in-out;
        -ms-transition: opacity 0.5s ease-in-out;
      }

      .works-link6:hover:before {
        z-index: 2;
        background-image: url(../medias/previsualisations/home/talkingspeakers.png);
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -o-transition: opacity 0.5s ease-in-out;
        -ms-transition: opacity 0.5s ease-in-out;
      }

      .works-link5:hover:before {
        z-index: 2;
        background-image: url(../medias/previsualisations/home/ondes_sonores.png);
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -o-transition: opacity 0.5s ease-in-out;
        -ms-transition: opacity 0.5s ease-in-out;
      }

      .works-link4:hover:before {
        z-index: 2;
        background-image: url(../medias/previsualisations/home/structures.png);
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -o-transition: opacity 0.5s ease-in-out;
        -ms-transition: opacity 0.5s ease-in-out;
      }

      .works-link3:hover:before {
        z-index: 2;
        background-image: url(../medias/previsualisations/home/untitled.png);
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -o-transition: opacity 0.5s ease-in-out;
        -ms-transition: opacity 0.5s ease-in-out;
      }

      .works-link2:hover:before {
        z-index: 2;
        background-image: url(../medias/previsualisations/home/panthera_tigris.png);
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -o-transition: opacity 0.5s ease-in-out;
        -ms-transition: opacity 0.5s ease-in-out;
      }

      .works-link1:hover:before {
        z-index: 2;
        background-image: url(../medias/previsualisations/home/animaux.png);
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -o-transition: opacity 0.5s ease-in-out;
        -ms-transition: opacity 0.5s ease-in-out;
      }

      span {
        padding: 0 8px;
      }

      button {
        width: 240px;
        background: var(--secondary);
        color: var(--light);
        margin-top: 20px;
        border-radius: 50px;
      }

      button:hover {
        background-color: var(--light);
        color: var(--secondary);
      }
    }

    @media all and (max-width: 970px) {
      .works-col-left {
        text-align: center;
        padding: 90px 0;

        p {
          text-align: center;
          margin-top: 2rem;
        }
      }
    }

    .works-col-right {
      z-index: 1;
      background-image: url(../medias/previsualisation/previsualisation.png);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  @media all and (max-width: 970px) {
    .row {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
    }
  }
}

////////// CONTACT //////////

.contact {
  grid-area: contact;
  background-color: var(--light-blue);
  padding: 80px 0;

  h2 {
    color: var(--light);
    text-align: center;
    font-size: 4rem;
    margin-bottom: 40px;
  }

  @media all and (max-width: 600px) {
    h2 {
      font-size: 6rem;
    }
  }

  p {
    text-align: center;
  }

  button:hover {
    background-color: var(--light);
    color: var(--light-blue);
  }
}

/////////// FOOTER ///////////

.footer {
  grid-area: footer;
  background-color: var(--primary);
  padding: 20px 80px;
  display: grid;
  grid-template-areas: "left-footer right-footer";
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;

  p {
    font-size: 11px;
    text-transform: uppercase;
  }

  .follow-me {
    margin-bottom: -0.5rem;
  }

  @media all and (max-width: 860px) {
    .follow-me {
      margin-bottom: -0.5rem;
    }
  }

  @media all and (max-width: 580px) {
    p {
      text-align: center;
    }
  }

  .left-footer {
    grid-area: left-footer;
    border-right: 1px solid var(--light);
    position: relative;
    // text-align: center;

    img {
      position: absolute;
      bottom: 17px;
      left: 0;
      height: 28px;
    }

    @media all and (max-width: 580px) {
      img {
        position: static;
      }
    }

    p {
      position: absolute;
      bottom: 0;
      left: 3.7rem;
      line-height: 20px;
    }

    @media all and (max-width: 580px) {
      .copyright {
        display: none;
      }
    }
  }

  @media all and (max-width: 860px) {
    .left-footer {
      border-right: none;
    }
  }

  @media all and (max-width: 580px) {
    .left-footer {
      text-align: center;
    }
  }

  .right-footer {
    grid-area: right-footer;
    padding-left: 30px;

    ul {
      list-style-type: none;
      display: flex;
      padding: 0;

      a:link,
      a:visited {
        color: var(--light);
      }
    }

    li {
      cursor: pointer;
    }

    .socicon {
      font-family: "Socicon" !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .socicon-instagram,
    .socicon-linkedin,
    .socicon-github {
      padding: 10px 10px 10px 10px;
      width: 25px;
      height: 25px;
      font-size: 23px;
      border: 1px solid #fff;
      border-radius: 50%;
      font-weight: 300;
    }

    .socicon-instagram {
      padding-top: 11px;
      padding-left: 12px;
    }

    .jubbew {
      margin: 0 4px 0 8px;
    }

    .socicon-linkedin {
      padding-left: 12px;
      margin: 0 8px 0 4px;
    }

    .socicon-github {
      padding-top: 11px;
    }

    .socicon:hover {
      color: #121b35;
      background-color: #f3f3f3;
    }

    svg:hover {
      fill: var(--light);
    }
  }

  @media all and (max-width: 860px) {
    .right-footer {
      padding-left: 0px;
      margin-bottom: 4rem;
    }
  }

  @media all and (max-width: 580px) {
    .right-footer {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;
    }
  }
}

@media all and (max-width: 860px) {
  .footer {
    grid-template-areas:
      "right-footer"
      "left-footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}
