.content-works {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "cover" "wrapper";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 650px auto;
      grid-template-rows: 650px auto;
}

@media all and (max-width: 580px) {
  .content-works {
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
}

#cover {
  z-index: 0;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: cover;
  background-color: var(--light);
  display: -ms-grid;
  display: grid;
      grid-template-areas: "covcolleft covcolright";
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  margin-top: 50px;
}

#cover .cover-col-left {
  z-index: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: covcolleft;
  position: relative;
  padding: 90px 0 100px 80px;
}

#cover .cover-col-left .works-title {
  font-family: "jubbew-semibold";
  font-size: 5.5rem;
  color: var(--primary);
  margin: 0 0 10px -5px;
}

@media all and (max-width: 680px) {
  #cover .cover-col-left .works-title {
    font-size: 5rem;
  }
}

@media all and (max-width: 580px) {
  #cover .cover-col-left .works-title {
    text-align: center;
  }
}

@media all and (max-width: 500px) {
  #cover .cover-col-left .works-title {
    font-size: 4rem;
  }
}

#cover .cover-col-left .subtitle {
  font-family: "jubbew-semibold";
  color: var(--primary);
  font-size: 2.7rem;
  margin: 10px 0 10px -5px;
  line-height: 2.7rem;
}

@media all and (max-width: 580px) {
  #cover .cover-col-left .subtitle {
    text-align: center;
    font-size: 2.3rem;
    line-height: 2.2rem;
  }
}

#cover .cover-col-left .works-category {
  font-family: "Montserrat", sans-serif;
  color: var(--primary);
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media all and (max-width: 500px) {
  #cover .cover-col-left .works-category {
    font-size: 1rem;
  }
}

#cover .cover-col-left .collaboration {
  font-family: "Montserrat", sans-serif;
  color: var(--primary);
  font-size: 0.9rem;
  margin-top: 0.1rem;
  line-height: 20px;
}

@media all and (max-width: 580px) {
  #cover .cover-col-left .collaboration {
    text-align: center;
  }
}

#cover .cover-col-left .works-informations {
  position: absolute;
  bottom: 80px;
}

#cover .cover-col-left .works-informations .info-title {
  font-family: "Montserrat", sans-serif;
  color: var(--primary);
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-top: 0.9rem;
  margin-bottom: 0;
}

#cover .cover-col-left .works-informations p {
  color: var(--light-blue);
  margin: 0;
}

@media all and (max-width: 580px) {
  #cover .cover-col-left .works-informations p {
    text-align: center;
  }
}

@media all and (max-width: 580px) {
  #cover .cover-col-left .works-informations {
    position: static;
    margin-top: 4rem;
  }
}

@media all and (max-width: 950px) {
  #cover .cover-col-left {
    padding: 90px 80px 100px 80px;
  }
}

@media all and (max-width: 580px) {
  #cover .cover-col-left {
    text-align: center;
    padding-bottom: 70px;
  }
}

#cover .cover-col-right {
  z-index: 0;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: covcolright;
  background-size: cover;
  background-repeat: no-repeat;
}

@media all and (max-width: 950px) {
  #cover .cover-col-right {
    display: none;
  }
}

@media all and (max-width: 1200px) {
  #cover {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

@media all and (max-width: 950px) {
  #cover {
        grid-template-areas: "covcolleft";
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.wrapper {
  z-index: 1;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "meta" "description" "links";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
}

.wrapper p {
  text-align: center;
}

.wrapper .meta {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: meta;
  background-color: var(--secondary);
  padding: 60px 80px;
}

.wrapper .meta p {
  color: var(--light);
  padding: 0 100px;
}

.wrapper .meta .artwork-name {
  font-weight: 400;
}

@media all and (max-width: 900px) {
  .wrapper .meta p {
    padding: 0;
  }
}

.wrapper .description {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: description;
  background-color: var(--light);
  padding: 100px 80px 20px 80px;
  text-align: center;
}

.wrapper .description .text {
  margin-bottom: 80px;
}

.wrapper .description .text p {
  color: var(--light-blue);
  text-align: left;
}

.wrapper .description .text ol {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  line-height: 2.2rem;
  color: var(--light-blue);
}

.wrapper .description .text .media {
  width: 60%;
  padding-top: 50px;
  margin: auto;
}

.wrapper .description .text .media img {
  width: 100%;
}

.wrapper .description .text .media video {
  width: 100%;
}

.wrapper .description .text .media .cartel {
  margin-top: 20px;
}

.wrapper .description .text .media .cartel .cartel-title {
  font-family: "Montserrat", sans-serif;
  color: var(--light-blue);
  font-weight: 500;
}

.wrapper .description .text .media .cartel .cartel-title .cartel-bold-title {
  font-style: italic;
  font-weight: 600;
}

.wrapper .description .text .media .cartel p {
  font-family: "Montserrat", sans-serif;
  color: var(--light-blue);
  margin: 0;
  text-align: center;
}

.wrapper .description .text .media .cartel .italic {
  font-weight: 600;
}

@media all and (max-width: 1200px) {
  .wrapper .description .text .media {
    width: 70%;
  }
}

@media all and (max-width: 1000px) {
  .wrapper .description .text .media {
    width: 80%;
  }
}

@media all and (max-width: 800px) {
  .wrapper .description .text .media {
    width: 90%;
  }
}

@media all and (max-width: 600px) {
  .wrapper .description .text .media {
    width: 100%;
  }
}

.wrapper .description .text .buttons {
  margin-top: 60px;
  text-align: center;
}

.wrapper .description .text .buttons button {
  margin: 10px;
}

.wrapper .description .text button {
  background: var(--primary);
  border: none;
  color: var(--light);
}

.wrapper .description .text button:hover {
  background: var(--secondary);
  cursor: pointer;
}

.wrapper .description .images {
  margin: 0 auto 90px auto;
  width: 60%;
}

.wrapper .description .images .artwork {
  margin-bottom: 60px;
}

.wrapper .description .images .artwork img {
  width: 100%;
  margin: 5px 0;
}

.wrapper .description .images .artwork .cartel {
  margin-top: 20px;
}

.wrapper .description .images .artwork .cartel .cartel-title {
  font-family: "Montserrat", sans-serif;
  color: var(--light-blue);
  font-weight: 500;
}

.wrapper .description .images .artwork .cartel .cartel-title .cartel-bold-title {
  font-style: italic;
  font-weight: 600;
}

.wrapper .description .images .artwork .cartel p {
  font-family: "Montserrat", sans-serif;
  color: var(--light-blue);
  margin: 0;
}

@media all and (max-width: 1200px) {
  .wrapper .description .images {
    width: 70%;
  }
}

@media all and (max-width: 1000px) {
  .wrapper .description .images {
    width: 80%;
  }
}

@media all and (max-width: 800px) {
  .wrapper .description .images {
    width: 90%;
  }
}

@media all and (max-width: 600px) {
  .wrapper .description .images {
    width: 100%;
  }
}

.wrapper .links {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: links;
  background-color: var(--light);
  text-align: center;
  padding-bottom: 90px;
}

.wrapper .links img {
  height: 4rem;
  margin: 20px;
  cursor: pointer;
}
/*# sourceMappingURL=works.css.map */