header {
  z-index: 2;
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: var(--primary);
}

header .logo {
  grid-area: logo;
  height: 27px;
  padding: 12px 65px 11px 80px;
}

.content-works {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "cover" "wrapper" "contact" "footer";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 650px auto auto auto;
      grid-template-rows: 650px auto auto auto;
}

#cover {
  z-index: 0;
  background-color: var(--light);
  display: -ms-grid;
  display: grid;
      grid-template-areas: "covcolleft covcolright";
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  margin-top: 50px;
}

#cover .cover-col-left {
  z-index: 1;
  position: relative;
  padding: 90px 0 100px 80px;
}

#cover .cover-col-left .works-title {
  font-family: "jubbew-semibold";
  font-size: 90px;
  color: var(--primary);
  margin: 0 0 10px -5px;
}

#cover .cover-col-left .subtitle {
  font-family: "jubbew-semibold";
  color: var(--primary);
  font-size: 45px;
  margin: 10px 0 10px -5px;
}

#cover .cover-col-left .works-category {
  font-family: "Montserrat", sans-serif;
  color: var(--light-blue);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#cover .cover-col-left .collaboration {
  font-family: "Montserrat", sans-serif;
  color: var(--light-blue);
  font-size: 15px;
  margin-top: 0;
  line-height: 20px;
}

#cover .cover-col-left .works-informations {
  position: absolute;
  bottom: 80px;
}

#cover .cover-col-left .works-informations .info-title {
  font-family: "Montserrat", sans-serif;
  color: var(--light-blue);
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 0;
}

#cover .cover-col-left .works-informations p {
  color: var(--light-blue);
  margin: 0;
}

#cover .cover-col-right {
  z-index: 0;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: covcolright;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  z-index: 1;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "meta" "description" "links";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
}

.wrapper p {
  text-align: center;
}

.wrapper .meta {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: meta;
  background-color: var(--secondary);
  padding: 60px 60px;
}

.wrapper .meta p {
  color: var(--light);
  padding: 0 100px;
}

.wrapper .meta .artwork-name {
  font-weight: 400;
}

.wrapper .description {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: description;
  background-color: var(--light);
  padding: 100px 80px 20px 80px;
  text-align: center;
}

.wrapper .description .text {
  margin-bottom: 80px;
}

.wrapper .description .text p {
  color: var(--light-blue);
  text-align: left;
}

.wrapper .description .text .buttons {
  margin-top: 60px;
  text-align: center;
}

.wrapper .description .text .buttons button {
  margin: 10px;
}

.wrapper .description .text button {
  background: var(--primary);
  border: none;
  color: var(--light);
}

.wrapper .description .text button:hover {
  background: var(--secondary);
  cursor: pointer;
}

.wrapper .description .images {
  margin: 0 auto 90px auto;
  width: 60%;
}

.wrapper .description .images .artwork {
  margin-bottom: 60px;
}

.wrapper .description .images .artwork img {
  width: 100%;
  margin: 5px;
}

.wrapper .description .images .artwork .cartel {
  margin-top: 20px;
}

.wrapper .description .images .artwork .cartel .cartel-title {
  font-family: "Montserrat", sans-serif;
  color: var(--light-blue);
  font-weight: 500;
}

.wrapper .description .images .artwork .cartel .cartel-title .cartel-bold-title {
  font-style: italic;
  font-weight: 600;
}

.wrapper .description .images .artwork .cartel p {
  font-family: "Montserrat", sans-serif;
  color: var(--light-blue);
  margin: 0;
}

.wrapper .links {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: links;
  background-color: var(--light);
  text-align: center;
  padding-bottom: 90px;
}

.wrapper .links img {
  width: 35px;
  margin: 20px;
  cursor: pointer;
}
/*# sourceMappingURL=works.css.map */